/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2016, 10:48:59
    Author     : D00154410
*/

div#container
{
  position     : relative;
  width        : 85%;
  margin-left  : auto;
  margin-right : auto;
}

div#pagecontent2
{
    position     : relative;
    width        : 100%;
    min-height : 1300px;
    border : black thin solid;
    background-color: white;
}

div#banner 
{
  height : 20%;	
}

div#banner img
{
  width  : 100%;
  height: 250px;	
}

div#side_bar
{
  width  : 200px;
  min-height : 1300px;
  float  : left;
  clear:left;
  background-color: white;
}
div#pagecontent
{
    position: relative;
    border : black thin solid;
    margin-left: 200px;
    min-height: 1300px;
    background-color: white;
  
} 

div#copyright
{
  clear  : both;
  min-height : 100px;
  border      : black solid thin;
  background-color: white;
}




.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  background:#FFFFFF;
  display: flex;
  justify-content: flex-end;
  color: black;
}

.navigation a {
  display: block;
  padding: 1em;
  color:#ffffff;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover {
  background:#e6e6e6;
  border-bottom-right-radius   : 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    padding: 0;
    flex-direction: column;
  }
  
  .navigation a {
    padding: 1em;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
  }
    
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}






select#soflow
{
    padding-right: 150px;
    margin-top: 40px;
    margin-right: 150px;
    float:right;
    clear:right;
}
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   
   
   
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

div#sortButton
{
   
    
}

body {
  background: #e6e6e6;
  box-sizing: border-box;
}

ul.menu {
  margin: 10px auto 0px 0px;
  margin-bottom: 10px;
  padding: 0px;
  height: 50px;
  background: white;
  width: 100%;
  
}

ul.menu li {
  position: relative;
  float: left;
  display: block;
  line-height: 50px;
  margin-right: 60px;
  
}

ul.menu li a {
  color: #777;
  display: block;
  padding-left: 10px;
  text-decoration: none;
  color:black;
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  
}

ul.menu li a:hover { color: #06BA6D; }


ul.menu ul.submenu li:last-child { border: none; }

.menu li:hover > ul { display: block; }
.menu ul li:hover > ul { display: block; }
/*body {
  background: #e6e6e6;
  box-sizing: border-box;
}

ul.menu {
  margin: 10px auto 0px 0px;
  margin-bottom: 10px;
  padding: 0px;
  height: 50px;
  background: white;
  width: 100%;

  
}

ul.menu li {
  position: relative;
  float: left;
  display: block;
  line-height: 50px;
  margin-right: 60px;

}

ul.menu li a {
  color: #777;
  display: block;
  padding-left: 10px;
  text-decoration: none;
  color:black;
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
   
  
}

ul.menu li a:hover { 
  background:#e6e6e6;
  border-bottom-right-radius   : 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


ul.menu ul.submenu li:last-child { border: none; }

.menu li:hover > ul { display: block; }
.menu ul li:hover > ul { display: block; }*/















html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

.slides {
    
    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    margin:100px 0 auto;
    position: relative;
    margin-top: 200px;
    
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}



















.view {
    width: 360px;
    height: 260px;
    margin-top: 100px;
    margin-left: 160px;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 360px;
    height: 260px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    color:white;
    font-weight: bold;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #06BA6D;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.view a.info:hover 
{
    box-shadow: 0 0 5px #000
}
.view-first img 
{ 
    transition: all 0.2s linear;
    width:100%;
    height: 100%;
}
.view-first .mask {
    opacity: 0;
    background-color:captiontext;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}



.view2 {
    width: 360px;
    height: 260px;
	margin-top: 100px;
	margin-left: 630px;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view2 .mask, .view2 .content {
    width: 360px;
    height: 260px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view2 img {
    display: block;
    position: relative
}
.view2 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view2 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view2 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view2 a.info:hover 
{
    box-shadow: 0 0 5px #000
}
.view-second img 
{ 
    transition: all 0.2s linear;
    width:100%;
    height: 100%;
}

.view3 {
    width: 360px;
    height: 260px;
	margin-top: 400px;
	margin-left: 160px;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view3 .mask, .view3 .content {
    width: 360px;
    height: 260px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view3 img {
    display: block;
    position: relative
}
.view3 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view3 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view3 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view3 a.info:hover 
{
    box-shadow: 0 0 5px #000
}

.view4 {
    width: 360px;
    height: 260px;
	margin-top: 400px;
	margin-left: 630px;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view4 .mask, .view4 .content {
    width: 360px;
    height: 260px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view4 img {
    display: block;
    position: relative
}
.view4 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view4 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view4 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view4 a.info:hover 
{
    box-shadow: 0 0 5px #000
}



div#searchbar{
    float: right;
    padding-right:10px;
    text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
}




//My Prifle





